/* Size for brand */
nav .navbar-brand {
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue {
    color: #537fbe;
}

.grey_color {
    color: #5f6368;
}

.clickable {
    cursor: pointer;
}

.requirement {
    color: red;
}

.valid {
    color: green;
}