{% extends "layout.html" %}

{% block title %}
Add Habit
{% endblock %}

{% block main %}
<form action="/add-habit" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="habit" name="habit"
            placeholder="Habit" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="rule" name="rule"
            placeholder="Daily Goal" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Add Habit</button>
</form>
{% endblock %}