{% extends "layout.html" %}

{% block title %}
Habits
{% endblock %}

{% block main %}
<table class="table mx-auto w-auto">
    <thead>
        <tr>
            <th>Habits</th>
            <th>Rule</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for habit in habits %}
        <tr>
            <td>{{habit.name}}</td>
            <td>{{habit.rule}}</td>
            <td>
                <a href="/edit-habit/{{ habit.habit_id }}" class="icon-link"><span
                        class="material-icons grey_color">edit</span></a>
                <a href="/delete-habit/{{ habit.habit_id }}" class="icon-link"><span
                        class="material-icons grey_color">delete</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}