{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
            placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password"
            onkeyup="validatePassword()">
    </div>
    <div id="passwordRequirements">
        <p id="length" class="requirement">At least 8 characters</p>
        <p id="uppercase" class="requirement">At least one uppercase letter</p>
        <p id="lowercase" class="requirement">At least one lowercase letter</p>
        <p id="number" class="requirement">At least one number</p>
        <p id="special" class="requirement">At least one special character (!@#$%^&*)</p>
    </div>
    <div class=" mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Repeat Password"
            type="password" onkeyup="validatePassword()">
    </div>
    <div id="passwordRequirements">
        <p id="repeat" class="requirement">Passwords must match</p>
    </div>
    <button id="submitBtn" class="btn btn-primary" type="submit" disabled="true">Register</button>
</form>

<script src="../static/passwordValidation.js"></script>

{% endblock %}